<% @lists.each do |list| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= "https://loremflickr.com/320/240/#{list.name}" %>')">
    <%= link_to list.name, list_path(list), class: 'link' %>
</div>
<% end %>
