// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Mukta", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin-top: 8rem;
  background-color: #e9ecef;
}
/* Container */
.body-container {
  width: 100vw;
  height: 120rem;
  background-color: #e9ecef;
}
.watch-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
  gap: 5rem;
}
.watch-list-item {
  width: 90%;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 .5rem .5rem rgba($color: #000000, $alpha: 0.4);
  text-align: center;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 4rem 0;
  font-size: 3rem;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-5%);
  }
}
